*
{
    margin: 0px;
    padding: 0px;
    letter-spacing: 1px;
}
.pageheading 
{
    background-color: rgb(180, 149, 90);
    border-radius: 40px; 
    color: white;
    padding: 20px 5px 5px 20px;
    justify-content: space-between;
    font-size: 15px;
    display: flex; 
}
.menu
{
    display: flex; 
    list-style-type: none;
}
.menu a
{

    text-decoration: none;
    font-size: 30px;
    color: white;
    font-family: Copperplate, Papyrus, fantasy;
    /* border-radius: px; */
}
.menu li 
{
    padding: 10px 20px;
    font-size: 15px;
}
.menu :hover a
{
    background: white;
    border-radius: 15px;
    color: green;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.head {
    margin: 70px 25px 0px 25px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .content {
    /* width: 50%; */
    /* height: 80vh; */
    /* background-image: url(images/portfolio-color-bg.png); */
    /* background-position: center;  */
    /* background-repeat: no-repeat;   */
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column; 
} 
.heading {
    justify-content: center;
    font-size: 2.9rem;
    width: 50%;
}

.pheading {
    font-weight: 600; 
}

.heading span {
    font-size: 3.1rem;
    font-weight: 700;
    color: rgb(29, 80, 29);
}

/* .hdeading:hover {
    transition: rotet
} */


.img {
    width: 50%;
}

 .img img {
    margin-bottom: 20px;
    width: 600px;
    border-radius: 30px; 
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
} 

.text {
    width: 50%;
}

.button {
    padding-right: 13rem;
    margin-top: 15px;
}

/* --------------category---------------- */
.category-sec {
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 50px 50px 20px 50px;
    width: 80%;
    margin: auto;
    /* background:  #b9dfda; */
}

.category-heading {
    font-size: 1.7rem;
    border-bottom: 3px solid black;
    display: flex;
    justify-content: center;
    color: black;
    cursor: pointer;
}

.category-heading h2{
    font-weight: 700;
}

.category {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    margin-top: 5vh;
}

.card {  
    /* background: #DEF5E5; */
    border-radius: 20px;  
    box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 15px; 
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column; 
    text-align: center;
    margin: 20px;
    text-decoration: none;
    transition: all 0.5s ease;
}



.card h3{
    margin-top: 20px;
    font-size: 1.7rem;
    color: black;
}

.card img {
    width: 250px;
    border-radius: 10px;
}

/* ------------------------footer------------------------ */
.footer{
   margin-top: 10vh;
   background: rgb(180, 149, 90);
}

.footer-content{
    padding: 3vh 0vh 3vh 0vh;
    color: white;
    display: flex;
    align-items: center;
}

.footer-contect{
    font-size: 1.2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.follow{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 7px;
    font-size: 1.2rem;
    width: 50%;
}

.social-link i{
    font-size: 1.7rem;
    padding: 0px 10px 0px 10px;
}

.copyright{
    background-color: black;
    color: white;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -----------------recipe-categories--------------------- */

.c-info{
    width: 90%;
    /* background-color: white; */
    margin: auto;
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
    padding: 0px 50px 20px 50px;
    margin: auto;
    background:  #b9dfda;
}

.c-heading{
    margin-top: 15vh;
    font-size: 1.3rem;
    border-bottom: 3px solid black;
    color: black;
}

.c-text{
    padding-top: 20px;
    font-size: 18px ;
}

.c-heading>h2{
    padding-top: 20px;
    font-weight: 700;
    /* border-bottom: 3px solid black; */
}

.c-shak{
    width: 90%;
    background-color:  #b9dfda;
    margin: auto;
     border-radius: 20px; 
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 0px 50px 20px 50px;
    margin: auto;
    /* background: #DEF5E5; */
}

.c-header{
    margin-top: 30px;
    font-size: 1.7rem;
    border-bottom: 3px solid black;
    text-align: center;
    color: black;
}

.c-header>h2{
    padding-top: 20px;
    font-weight: 700;
}

.c-recipes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5vh;
}
/* -------------------------dropdown------------------- */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 1rem;
    top: 100px;
    position: fixed;
    z-index: 10;
    height: 0px;
    width: 200px;
    background: #DEF5E5;
    /* backdrop-filter: blur(15px); */
    border-radius: 10px;
    overflow: hidden;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 150px;
}

.dropdown_menu a{
    padding: 0.7rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* -------------------------Responsive------------------------*/

   /* ##Device = Desktops ##Screen = 1281px to higher resolution desktop */
   /* @media (min-width: 1281px) { */
    /* code in this block will be applied only if device width>1281 */
    /* .pageheading
    {
        font-size: 10px;
        padding: 10px 10px 10px 10px;
        width: 100%;
    }
    .menu a
    {
        font-size: 10px;
    }
    .navbar .toggle_btn {
        padding: 10px;
        margin: auto;
        display: flex;
        align-items: center;
    }

    .dropdown_menu {
        display: block;
    }
    .navbar
    {
        display: flex;
        width: 100%;
    }
    .menu
    {
        display: none;
    }
    .pageheading
    {
        width: 85%;
    }
    .toggle_btn i
    {
        font-size: 25px;
    }
    .head
    {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 0px;
    }
    .heading
    {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .heading span
    {
        font-size: 30px;
    }
    .pheading
    {
        width: 100%;
        margin-left: 45px;
       
    }
    .img img
    {
        width: 300px;
        margin-left: 150px;
    }
    .category-heading h2
    {
        font-size: 25px;
    }
    .category
    {
        margin-top: 20px;
    }
    .footer-content
    {
        display: flex;
        flex-direction: column;
    }
    .follow
    {
        margin-top: 30px;
        width: 100%;
    }
    .social-link 
    {
        width: 100%;
        
    }
    .footer
    {
        margin-top: 10px;
    }
    } */

  /* ##Device = Laptops, Desktops ##Screen = B/w 1025px to 1280px*/
  @media (min-width: 1025px) and (max-width: 1280px) {
    /* code in this block will be applied only if device width>1025 and <1280 */
    .pageheading
    {
        font-size: 10px;
        padding: 10px 10px 10px 10px;
        width: 100%;


    }
    .menu a
    {
        font-size: 10px;
    }
    .navbar .toggle_btn {
        padding: 5px;
        /* margin: auto; */
        display: flex;
        align-items: center;
    }

    .dropdown_menu {
        display: block;
    }
    .navbar
    {
        display: flex;
    }
    .menu
    {
        display: none;
    }
    .pageheading
    {
        width: 95%;
    }
    .toggle_btn i
    {
        font-size: 25px;
    }
    .head
    {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 0px;
    }
    .heading
    {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .heading span
    {
        font-size: 30px;
    }
    .pheading
    {
        width: 110%;
        margin-left: 40px;
    }
    .img img
    {
        width: 300px;
        margin-left: 100px;
    }
    .category-heading h2
    {
        font-size: 25px;
    }
    .category
    {
        margin-top: 20px;
    }
    .footer-content
    {
        display: flex;
        flex-direction: column;
    }
    .follow
    {
        margin-top: 30px;
        width: 100%;
    }
    .social-link 
    {
        width: 100%;
        
    }
    .footer
    {
        margin-top: 10px;
    }
    
  }
  
  /* ##Device = Tablets, Ipads (portrait) ##Screen = B/w 768px to 1024px */
  @media (min-width: 768px) and (max-width: 1024px) {
    /* code in this block will be applied only if device width>768 and <1024 */
    .pageheading
    {
        font-size: 10px;
        padding: 10px 10px 10px 10px;
        width: 100%;
    }
    .menu a
    {
        font-size: 10px;
    }
    .navbar .toggle_btn {
        padding: 10px;
        /* margin: auto; */
        display: flex;
        align-items: center;
    }

    .dropdown_menu {
        display: block;
    }
    .navbar
    {
        display: flex;
    }
    .menu
    {
        display: none;
    }
    .pageheading
    {
        width: 95%;
    }
    .toggle_btn i
    {
        font-size: 25px;
    }
    .head
    {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 0px;
    }
    .heading
    {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .heading span
    {
        font-size: 30px;
    }
    .pheading
    {
        width: 110%;
        margin-left: 40px;
    }
    .img img
    {
        width: 300px;
        margin-left: 50px;
    }
    .category-heading h2
    {
        font-size: 25px;
    }
    .category
    {
        margin-top: 20px;
    }
    .footer-content
    {
        display: flex;
        flex-direction: column;
    }
    .follow
    {
        margin-top: 30px;
        width: 100%;
    }
    .social-link 
    {
        width: 100%;
        
    }
    .footer
    {
        margin-top: 10px;
    }
    
  }
  /* ##Device = Low Resolution Tablets,  ##Screen = B/w 481px to 767px */
  @media (min-width: 481px) and (max-width: 767px) {
    /* code in this block will be applied only if device width>481 and <767 */
    .pageheading
    {
        font-size: 10px;
        padding: 10px 10px 10px 10px;
        width: 100%;
    }
    .menu a
    {
        font-size: 10px;
    }
    .navbar .toggle_btn {
        padding: 10px;
        /* margin: auto; */
        display: flex;
        align-items: center;
    }

    .dropdown_menu {
        display: block;
    }
    .navbar
    {
        display: flex;
    }
    .menu
    {
        display: none;
    }
    .pageheading
    {
        width: 95%;
    }
    .toggle_btn i
    {
        font-size: 25px;
    }
    .head
    {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 0px;
    }
    .heading
    {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .heading span
    {
        font-size: 30px;
    }
    .pheading
    {
        width: 150%;
        margin-left: -46px;
    }
    .img img
    {
        width: 300px;
        margin-left: -35px;
    }
    .category-heading h2
    {
        font-size: 25px;
    }
    .category
    {
        margin-top: 20px;
    }
    .footer-content
    {
        display: flex;
        flex-direction: column;
    }
    .follow
    {
        margin-top: 30px;
        width: 100%;
    }
    .social-link 
    {
        width: 100%;
        
    }
    .footer
    {
        margin-top: 10px;
    }
  }
  
  /*  ##Device = Most of the Smartphones Mobiles (Portrait) ##Screen = B/w 320px to 479px */ 
  @media (min-width: 320px) and (max-width: 480px) {
    /* code in this block will be applied only if device width>320 and <480 */
    .pageheading
    {
        font-size: 10px;
        padding: 10px 10px 10px 10px;
        width: 100%;
    }
    .menu a
    {
        font-size: 10px;
    }
    .navbar .toggle_btn {
        padding: 10px;
        /* margin: auto; */
        display: flex;
        align-items: center;
    }

    .dropdown_menu {
        display: block;
    }
    .navbar
    {
        display: flex;
    }
    .menu
    {
        display: none;
    }
    .pageheading
    {
        width: 95%;
    }
    .toggle_btn i
    {
        font-size: 25px;
    }
    .head
    {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 0px;
    }
    .heading
    {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .heading span
    {
        font-size: 30px;
    }
    .pheading
    {
        width: 150%;
        margin-left: -43px;
    }
    .img img
    {
        width: 300px;
        margin-left: -70px;
    }
    .category-heading h2
    {
        font-size: 25px;
    }
    .category
    {
        margin-top: 20px;
    }
    .footer-content
    {
        display: flex;
        flex-direction: column;
    }
    .follow
    {
        margin-top: 30px;
        width: 100%;
    }
    .social-link 
    {
        width: 100%;
        
    }
    .footer
    {
        margin-top: 10px;
    }
    

  }